@charset 'utf-8';

.header {
  display: flex;
  height: 3rem;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 0 4rem 0 4rem;
  background-color: black;
}

.header .login-register {
 display: inline-flex;
 justify-content: space-between;
 /* background-color: aliceblue; */
}

.header .login-register label {
    margin-left: 2rem;
}