@charset 'utf-8';

.toolbox {
  display: flex;
  height: 4rem;
  /* background-color:lightcoral; */
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 4rem 0 4rem;
}

.toolbox .store {
  font-size: 2.4em;
  color: black;
  font-weight: bold;
}
.toolbox .input {
  width: 46em;
  height: 1.6em;

}

.toolbox .shopcart {
  margin-left: 2rem;
}
