@charset 'utf-8';

.toolbox {
  display: flex;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0 4rem;
  border-bottom: 0.4rem solid #1c87c9;
}

.toolbox .store {
  font-size: 2.4em;
  color: black;
  font-weight: bold;
}
.toolbox .input {
  width: 46rem;
  height: 2rem;

}

.toolbox .shopcart {
  margin-left: 2rem;
}
